.howchoose{
	width: 960px;
    padding: 10px 30px;
    margin: 30px auto;
    font-size: 14px;
    line-height: 25px;
    color: #444; 
}
.howchoose h1{
	text-align: center;
	font-size: 26px;
	line-height: 50px;
}
.howchoose p{
	margin: 10px 0;
	font-size: 14px;
	line-height: 26px;
	color: #333;
}
.howchoose p.p_1{
	color: #22ac38;
}